
<h2>Registration</h2>
<p><b>{{ informationMessage }}</b></p>
<form (ngSubmit)="registerContestants()">
    <div *ngFor="let player of players;index as i; trackBy:identify">
      <input type="text" name="player{{i}}" placeholder="Contestant {{i + 1}}" [(ngModel)]="players[i]">
    </div>
    <button type="submit">Complete Registration</button>
</form>

<button type="button" (click)="generateNames(2)">Autofill 2 Contestants</button>
<button type="button" (click)="generateNames(4)">Autofill 4 Contestants</button>
<button type="button" (click)="generateNames(8)">Autofill 8 Contestants</button>