
    <h2>Round {{ roundNumber }}</h2>

    <form (ngSubmit)="completeRound()">
      <div *ngFor="let match of matchesArray; index as i; trackBy: trackItem">
        <h3>Match {{ i + 1 }}</h3>

        <div>
          <input type="radio" id="match{{ i }}_player1" name="match{{ i }}" value="{{ matchesArray[i].player1 }}"
            [(ngModel)]="matchesArray[i].winner">
          <label for="match{{ i }}_player1">{{ matchesArray[i].player1 }}</label>
        </div>

        <div>
          <input type="radio" id="match{{ i }}_player2" name="match{{ i }}" value="{{ matchesArray[i].player2 }}"
            [(ngModel)]="matchesArray[i].winner">
          <label for="match{{ i }}_player2">{{ matchesArray[i].player2 }}</label>
        </div>
      </div>
      <a routerLink="/brackets" routerLinkActive="active">
      <button type="button" *ngIf="matchesExist">Complete Round</button>
    </a>
    </form>
 

