  <h2>Round {{ roundNumber }}</h2>
  <h3 *ngIf="winnerFound">Winner: {{ informationMessage }}</h3>

    <form >
      <div *ngFor="let match of matchesArray; index as i">
        <h3>Match {{ i + 1 }}</h3>

        <div>
          <input type="radio" id="match{{ i }}P1" name="match{{ i }}" value="{{ matchesArray[i].player1 }}"
            [(ngModel)]="matchesArray[i].winner">

          <label for="match{{ i }}P1">{{ matchesArray[i].player1 }}</label>
        </div>

        <div>
          <input type="radio" id="match{{ i }}P2" name="match{{ i }}" value="{{ matchesArray[i].player2 }}"
            [(ngModel)]="matchesArray[i].winner">

          <label for="match{{ i }}P2">{{ matchesArray[i].player2 }}</label>
        </div>
      </div>

      <button type="button" (click)="completeRound()" *ngIf="!winnerFound" >Complete Round</button>
    </form>


